.Header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Header li {
  display: inline-block;
  margin: 20px;
}

.Header a {
  text-decoration: none;
  color: black;
}

.Header a:hover,
.Header a:active {
  color: orange;
}